APP_ORIGIN=https://domain-resmi-anda
ALLOWED_ORIGINS=https://domain-resmi-anda
SUPABASE_URL=https://ncoueeeskzslldppsbvx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5jb3VlZWVza3pzbGxkcHBzYnZ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwNDYzMDYsImV4cCI6MjA5OTYyMjMwNn0.7kipA3YHkOnmofSilI8qzMFNAlYiSYPW4Gl8BR0z1W4
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
FIRMS_MAP_KEY=
BMKG_ADM4=73.06.04.1010
